.Header{
    height: 48px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    // padding: 10px;
    z-index: 10;
    .Burger_svg{
        z-index: 1000;
        position: relative;
        right: 10px;
        transition: .5s fill;
    }
    .Burger_svg:hover{
        cursor: pointer;
        fill: rgb(105, 172, 199);
    }
    .Logo_svg{
        position: relative;
        left: 10px;
    }
}