.PageLocker{
    width: 100vw;
    height: 100vh;
    background-color: rgba(185, 13, 13, 0.541);
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}